[user]
	name = vg0x00
	email = vg0x00@gmail.com
# [http]
# [https]
# 	proxy = socks5://127.0.0.1:1080
[core]
	editor = emacs
[alias]
	logg = log --format=oneline --abbrev-commit --graph
	s = status
	cm = commit -m
